@model LoginModel

@{
    ViewBag.Title = "test";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h3>Login Form</h3>
    <table>
            <tr>
                <td>@Html.DisplayTextFor(model => model.Username)</td>
                <td><input type="text" asp-for="@Model.Username" /></td>
            </tr>
            <tr>
                <td>@Html.DisplayTextFor(model => model.Username)</td>
                <td><input type="password" asp-for="@Model.Password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" onclick="location.href='@Url.Action("SearchRoutes", "Routing")'"/></td>
                
            </tr>
        </table>
</div>
