@model LoginModel

@{
    ViewBag.Title = "test";
}

@using (Html.BeginForm("SubmitLogin", "Login"))
    {
        <style>
           input {
               font-size: 200%;
           }
        </style>
        <div class="form-group">
            <label style="font-size: 200%" class="control-label" for="@Html.IdFor(x => x.Username)">Email</label>
            @Html.TextBoxFor(x => x.Username, new {@class = "form-control", type = "username", style = "font-size: 200%"})
            <div class="help-block">
                @Html.ValidationMessageFor(x => x.Username)
            </div>
        </div>
        <div class="form-group">
        <label style="font-size: 200%" class="control-label" for="@Html.IdFor(x => x.Password)">Password</label>
        @Html.PasswordFor(x => x.Password, new {@class = "form-control", style = "font-size: 200%"})
            <div class="help-block">
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
        <button style="font-size: 200%" type="submit" class="btn btn-primary">Login</button>
    }
