@model Telstar.Models.SearchModel

@{
    ViewBag.Title = "test";
}

<!DOCTYPE html>

<html>
<body height: 100%;>

<div class="row">
    
    <div class="col" style="width: 100px">
        @using (Html.BeginForm("CalculateRoutes", "Search"))
            {
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.OriginCity)">Origin City</label>
                    @Html.TextBoxFor(x => x.OriginCity, new {@class = "form-control", type = "text"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.DestinationCity)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.DestinationCity)">Destination City</label>
                    @Html.TextBoxFor(x => x.DestinationCity, new {@class = "form-control", type = "text"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.DestinationCity)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.Weight)">Weight (lbs)</label>
                    @Html.TextBoxFor(x => x.Weight, new {@class = "form-control", type = "number"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.Weight)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.Width)">Width (cm)</label>
                    @Html.TextBoxFor(x => x.Width, new {@class = "form-control", type = "number"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.Width)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.Height)">Height (cm)</label>
                    @Html.TextBoxFor(x => x.Height, new {@class = "form-control", type = "number"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.Height)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="@Html.IdFor(x => x.Length)">Length (cm)</label>
                    @Html.TextBoxFor(x => x.Length, new {@class = "form-control", type = "number"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(x => x.Length)
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="Recommended" />
                    <label for="@Html.IdFor(x => x.Recommended)">Recommended</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="Weapons" />
                    <label for="@Html.IdFor(x => x.Weapons)">Weapons</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="LiveAnimals" />
                    <label for="@Html.IdFor(x => x.LiveAnimals)">Live animal</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="CautiousParcels" />
                    <label for="@Html.IdFor(x => x.CautiousParcels)">Cautious parcels</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="RefrigeratedGoods"/>
                    <label for="@Html.IdFor(x => x.RefrigeratedGoods)">Refridrerated goods</label>
                </div>

                <button type="submit" class="btn btn-primary">Find Route</button>
            }
    </div>
    <div class="col md-n3" style="margin-top: -150px; width: 1400px">
        <img src="~/images/AfricaMap.png"/>
    </div>
</div>

</body>
</html>